@media (max-width: 1159px) {
  body {
    font-size: 16px;
  }
  main .dark__background {
    height: 700px;
  }
  .main__projectlist {
    flex-direction: column;
  }
  .main__item--text {
    display: inline;
    font-size: 16px;
  }
  .main__projectlist--item {
    width: auto;
  }
  .video {
    display: none;
  }
  .video-link {
    display: block;
    font-size: 25px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: -43px;
  }
}

@media (max-width: 699px) {
  body {
    font-size: 14px;
  }
  .header__navbar--list {
    flex-direction: column;
  }
  .description h1 {
    width: 375px;
  }
  .description__about {
    width: 300px;
    line-height: 22px;
  }
  .description__button {
    padding: 10px 20px;
  }
  .dark__background {
    height: 700px;
  }
  .main__projectlist {
    flex-direction: column;
  }
  .main__item--text {
    display: none;
  }
  .video {
    display: none;
  }
  .video-link {
    display: block;
    font-size: 25px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: -43px;
  }
}
