@use "_reset";
@use "_media";
@use "_mixins" as *;

:root {
  --main-color: #EEEFF1;
  --second-color: #34547A;
  --text-color: #727272;
  --letter-spacing: 0.1em;
}

body {
  font-family: Roboto, serif;
  font-size: 16px;
  box-sizing: border-box;
  font-weight: 400;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: var(--main-color);
  margin-bottom: 112px;
}

.header__navbar--list {
  @include flex-center;
  gap: 42px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.navbar__list--item a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);

  &:hover {
    color: var(--second-color);
  }
}

.description {
  padding-top: 82px;
  padding-bottom: 141px;

  h1 {
    @include responsive-text(48px);
    font-weight: 500;
    padding-bottom: 60px;
  }

  &__about {
    width: 540px;
    color: var(--text-color);
    padding-bottom: 65px;
    letter-spacing: 0.05em;
    line-height: 26px;
  }

  &__button {
    background-color: var(--second-color);
    border: none;
    padding: 20px 41px;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
  }
}

.container h2 {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 50px;
  @include responsive-text(32px);
  font-weight: 500;
}

.main__container p {
  text-align: center;
  margin-inline: auto;
  margin-bottom: 100px;
}

.dark__background {
  background-color: var(--second-color);
  height: 250px;
}

.main__projectlist {
  display: flex;
  justify-content: center;
  gap: 45px;
  padding-bottom: 100px;
  padding-top: 100px;
  color: #FFFFFF;
}

.main__projectlist--item {
  height: 50px;
  width: 141px;
  background: left no-repeat url("..assets/images/group.png");
  padding-left: 70px;
  @include responsive-text(21px, 25px);
}

.main__item--text {
  display: none;
}

.projectlist__works--project {
  @include responsive-text(16px);
  letter-spacing: 0.05em;
}

.video {
  margin-bottom: 100px;
  margin-top: -43px;
}

.video-link {
  display: none;
}


footer .dark__background {
  height: 151px;
}

.copyright {
  padding-top: 50px;
  color: white;

  &__head {
    font-weight: 500;
    @include responsive-text(21px, 25px);
    margin-bottom: 20px;
  }

  &__text {
    @include responsive-text(13px, 21px);
  }
}


